[Unit]
Description=CKAN Service
After=docker.service systemd-networkd.service systemd-resolved.service
Requires=docker.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
WorkingDirectory=/raid/system/ckan/contrib/docker
ExecStart=/usr/local/bin/docker-compose up --remove-orphans
TimeoutStopSec=1200
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
